<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FriendRental</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>

	<div class="wrapper">
		<div class="header">
			<p>Friend's rental database web app</p>
		</div>

		<div class="container">
			<div class="container" style="display: flex; justify-content: center;">
				<button type="button" class="btn btn-primary" onClick="window.location.href='/actions'" style="margin-right: 15px;">Perform Action</button>
				<button type="button" class="btn btn-primary" onClick="window.location.href='/db_custom_views'" style="margin-right: 15px;">View Database (Custom)</button>
				<button type="button" class="btn btn-primary" onClick="window.location.href='/db_user_views'">View Database (User)</button>
			</div>
            
{#			<div class="search_wrap search_wrap_6">#}
{#				<div class="search_box">#}
{#					<form action="/" method="post" id="main_query_form">#}
{#						<input type="text" class="input" name="query_text" placeholder="write your query here...">#}
{#						<div id="main_query_submit_btn" class="btn">#}
{#							<p>Query</p>#}
{#						</div>#}
{#					</form>#}
{#				</div>#}
{#			</div>#}

		</div>

{#		{% if db_response is defined %}#}
{#			<table class="styled-table center">#}
{#				<thead>#}
{##}
{#					<tr>#}
{#						{% for _ in range(1, db_response[0]|length + 1) %}#}
{#							<th>Column {{_}}</th>#}
{#						{% endfor %}#}
{#					</tr>#}
{#				</thead>#}
{#				<tbody>#}
{##}
{#					{% for row in range(db_response|length) %}#}
{#						<tr>#}
{#							{% for row_entry in range(db_response[0]|length) %}#}
{#								<th>{{db_response[row][row_entry]}}</th>#}
{#							{% endfor %}#}
{#						</tr>#}
{#					{% endfor %}#}
{##}
{#				</tbody>#}
{#			</table>#}
{#		{% endif %}#}
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>