<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        .category_select_btn {
            display: none;
        }
    </style>
    <script>

        $( document ).ready(function() {
            table_select_btn = document.getElementById("table_select_btn");
        });

        var tablesBycolumns = {
            user_: ["id", "phone_number", "name", "surname"],
            friend: ["id", "phone_number", "name", "surname", "description", "age", "gender"],
            party: ["party_id", "name"],
            rent_friends: ["rent_id", "friend_id"],
            rent: ["rent_id", "user_id", "date", "party_id"],
            friend_hobby: ["friend_id", "hobby_id"],
            hobby: ["hobby_id", "name"],
            day_offs: ["friend_id", "date"],
            present: ["present_id", "name", "price"],
            present_given: ["given_id", "present_id", "user_id", "friend_id", "date", "is_returned"],
            complaint: ["complaint_id", "text", "friend_id", "date"],
            user_complaint: ["user_id", "complaint_id"]
        }

        function changecat(value) {
            if (value.length == 0) {
                document.getElementById("col_category").innerHTML = "<option></option>";
            }

            else {
                var colOptions = "";
                for (column in tablesBycolumns[value]) {
                    colOptions += "<label>" + `<input type='checkbox' name='column_name' value='${tablesBycolumns[value][column]}'>` + tablesBycolumns[value][column] + "</label>";
                }
                document.getElementById("col_category").innerHTML = colOptions;
            }
            table_select_btn.style.display = "inline-block";
            document.getElementById("col_category").appendChild(table_select_btn)

            $("<input />").attr("type", "hidden")
              .attr("name", "table_name")
              .attr("value", value)
              .appendTo("#col_category");

        }
    </script>
</head>
<body>
    <select name="meal" id="meal" onChange="changecat(this.value);">
        <option value="" disabled selected>Select</option>
        <option value="user_">user</option>
        <option value="friend">friend</option>
        <option value="party">party</option>
        <option value="rent_friends">rent_friends</option>
        <option value="rent">rent</option>
        <option value="friend_hobby">friend_hobby</option>
        <option value="hobby">hobby</option>
        <option value="day_offs">day_offs</option>
        <option value="present">present</option>
        <option value="present_given">present_given</option>
        <option value="complaint">complaint</option>
        <option value="user_complaint">user_complaint</option>

    </select>
    <form id="col_category" action="/user_query_result" method="POST">
        <option value="" disabled selected>Select</option>
        <button id="table_select_btn" name="userselect" type="submit" class="btn btn-primary category_select_btn">Send data</button>
    </form>
</body>
</html>